@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@400&display=swap");
/* SASS Template */
/*   global   */
button, button:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.font-oswald {
  font-family: "Oswald", sans-serif;
}

.bg-black {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c4146), to(#21282e));
  background-image: linear-gradient(180deg, #3c4146, #21282e);
}

.bg-mediumBlack {
  background-color: #3D0000;
}

.bg-maroon {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e75816), to(#a83906));
  background-image: linear-gradient(180deg, #e75816, #a83906);
}

.text-maroon {
  color: #e55a19;
}

.bg-red {
  background-color: #FF0000;
}

.small {
  font-size: 12px;
}

.medium {
  font-size: 16px;
}

.larg {
  font-size: 18px;
}

.bold {
  font-weight: 550;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

/*___Top___*/
.bg-image {
  background-image: url("../image/bg-body.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.top-details li {
  margin-left: 20px;
}

.top-details li a {
  color: white;
  font-weight: 580;
  text-decoration: none;
}

.top-details li a:hover {
  color: #e55a19;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.search-box {
  outline: none;
  border: 1px solid #797676;
  width: 80%;
  background-color: transparent;
  color: white;
}

.border-grey {
  border: 1px solid #4e4e4e;
}

.top-logo {
  height: 40px;
}

.navigation {
  border-top: 1px solid #616060;
}

.navigation li {
  margin-top: 10px;
  margin-right: 10px;
}

.contact p {
  margin-top: 11px;
}

/*_____dropdown Menu_____*/
#dropdown {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#dropdown li {
  margin-left: 0;
}

#dropdown li:hover {
  background-color: #333332;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
}

#dropdown.show {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/*_____dropdown Menu under 1000px____*/
.menu2 {
  position: relative;
}

.dropdonwMenu2 {
  position: absolute;
  top: 100%;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3e4952), to(#21282e));
  background-image: linear-gradient(180deg, #3e4952, #21282e);
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.dropdonwMenu2 li {
  border-bottom: 1px solid #3f3e3e;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.dropdonwMenu2 li:hover {
  background-color: #333332;
  margin-left: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menu2 {
  display: none;
}

.menu2 .dropdonwMenu2 {
  opacity: 0;
}

.dropdonwMenu2.show2 {
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#bars {
  cursor: pointer;
}

/*_____Main Image/Text Content____*/
#text-content {
  line-height: 75px;
  font-size: 60pt;
}

.main-text {
  margin-left: -5%;
  font-size: 50px;
  font-weight: 800;
  line-height: 100%;
}

/*______Lastest Product_____*/
#lastest-product {
  background-image: url("../image/bg4.png");
  height: 500px;
}

.go-icon {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e75816), to(#a83906));
  background-image: linear-gradient(180deg, #e75816, #a83906);
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  bottom: 10%;
  padding: 9px 15px;
}

.left {
  right: 51%;
}

.go-icon:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c4146), to(#21282e));
  background-image: linear-gradient(180deg, #3c4146, #21282e);
}

/*______hover_________*/
.item1 {
  border: 1px solid #e0e0e0;
}

.item1:hover {
  border: 2px solid #e55a19;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.item1:hover .cart-icon {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: block;
}

.item1:hover .product-price {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: none;
}

/*_____product price_____*/
/*______add to cart Icon_________*/
.cart-icon {
  cursor: pointer;
  display: none;
  margin-top: 55px;
}

.cart-icon:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e75816), to(#a83906));
  background-image: linear-gradient(180deg, #e75816, #a83906);
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/*______below lastest products_____*/
.bg-2 {
  background-image: url("../image/bg2.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 4rem;
}

.bg-2 .looking {
  font-weight: 900;
  color: #e55a19;
}

.bg-2 .looking .check {
  color: #1056a9;
}

.bg-2 .looking .read-more {
  padding: 15px 30px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1273d3), to(#093e80));
  background-image: linear-gradient(180deg, #1273d3, #093e80);
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.bg-2 .looking .read-more:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f37d47), to(#a83906));
  background-image: linear-gradient(180deg, #f37d47, #a83906);
}

/*_____feature-product_______*/
.feature-product {
  color: white;
  margin-bottom: 50px;
}

.feature-product h5 {
  font-size: 20px;
}

.feature-product h5:first-child {
  margin-right: 15px;
}

.feature-product .dis {
  color: #e55a19;
}

.feature-product .search {
  margin-right: 20px;
}

.feature-product .btn-ok {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f37d47), to(#a83906));
  background-image: linear-gradient(180deg, #f37d47, #a83906);
  padding: 10px 10px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/*Responsive */
@media only screen and (max-width: 1000px) {
  .contact, .navigation, .drop-item {
    display: none;
  }
  .menu2 {
    display: block;
    z-index: 10;
  }
  #text-content {
    line-height: 50px;
    font-size: 30pt;
  }
  .main-text {
    margin-left: -27%;
  }
  .bg-2 .looking {
    font-size: 50px;
  }
  .bg-2 .looking .read-more {
    font-size: 18px;
  }
}

@media only screen and (max-width: 578px) {
  .top-details-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .top-details-info .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .top-details-info .nav li {
    margin: 5px 20px;
  }
  #text-content {
    line-height: 24px;
    font-size: 15pt;
  }
  .main-text {
    font-size: 30px;
    margin-left: -30%;
  }
  .bg-2 .looking {
    font-size: 40px;
  }
  .bg-2 .looking .read-more {
    font-size: 15px;
  }
}
/*# sourceMappingURL=style.css.map */