@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@400&display=swap");
/* SASS Template */
/*   global   */
button, button:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.font-oswald {
  font-family: "Oswald", sans-serif;
}

.bg-black {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c4146), to(#21282e));
  background-image: linear-gradient(180deg, #3c4146, #21282e);
}

.bg-mediumBlack {
  background-color: #3D0000;
}

.bg-maroon {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e75816), to(#a83906));
  background-image: linear-gradient(180deg, #e75816, #a83906);
}

.text-maroon {
  color: #e55a19;
}

.bg-red {
  background-color: #FF0000;
}

.small {
  font-size: 12px;
}

.medium {
  font-size: 14px;
}

.larg {
  font-size: 18px;
}

.bold {
  font-weight: 550;
}

.border-3 {
  border-width: 3px !important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

/*___Top___*/
.currency {
  color: white;
  cursor: pointer;
  font-weight: 900;
}

.currency:hover {
  color: #e55a19;
}

.currency-div {
  position: relative;
  z-index: 11;
}

.currency-div .currency-items {
  background-color: white;
  padding: 10px 30px;
  -webkit-box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.514);
          box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.514);
  margin-top: 14px;
  position: absolute;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.currency-div .currency-items a {
  color: black;
  margin-left: -10px;
  font-size: 12px;
}

.triangle-up {
  opacity: 0;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.triangle-up.show3 {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.currency-items.show4 {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bg-image {
  background-image: url("../image/bg-body.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.top-details li {
  margin-left: 20px;
}

.top-details li a {
  color: white;
  font-weight: 580;
  text-decoration: none;
}

.top-details li a:hover {
  color: #e55a19;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.search-box {
  outline: none;
  border: 1px solid #797676;
  width: 80%;
  background-color: transparent;
  color: white;
}

.border-grey {
  border: 1px solid #4e4e4e;
}

.top-logo {
  height: 40px;
}

.navigation {
  border-top: 1px solid #616060;
}

.navigation li {
  margin-top: 10px;
  margin-right: 10px;
}

.contact p {
  margin-top: 11px;
}

/*____cart-add-items____*/
.parent-cart-icon {
  position: relative;
}

.parent-cart-icon .cart-list {
  background-color: white;
  position: absolute;
  z-index: 11;
  width: 500px;
  top: 60px;
  right: 0px;
  display: none;
}

.parent-cart-icon .cart-list img {
  width: 60px;
}

.parent-cart-icon .cart-list .total-details p {
  font-size: 12px;
}

.parent-cart-icon .cart-list .total-details:nth-child(2) p {
  color: #e55a19;
}

.parent-cart-icon .cart-list .view-cart-btn, .parent-cart-icon .cart-list .Checkout-cart-btn {
  padding: 15px 20px;
  font-weight: 700;
  color: white;
}

.parent-cart-icon .cart-list .view-cart-btn {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0d4b9e), color-stop(0%, #1762b1), color-stop(99%, #0d4b9e));
  background-image: linear-gradient(#0d4b9e 0%, #1762b1 0%, #0d4b9e 99%);
}

.parent-cart-icon .cart-list .view-cart-btn:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#255fac), color-stop(0%, #2574c9), color-stop(99%, #052855));
  background-image: linear-gradient(#255fac 0%, #2574c9 0%, #052855 99%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.parent-cart-icon .cart-list .Checkout-cart-btn {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e75816), to(#a83906));
  background-image: linear-gradient(180deg, #e75816, #a83906);
  text-decoration: none;
}

.parent-cart-icon .cart-list .Checkout-cart-btn:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c4480e), to(#702908));
  background-image: linear-gradient(180deg, #c4480e, #702908);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cart-list.show5 {
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.triangle-up2.show5 {
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.line-height {
  line-height: 0px;
}

.triangle-up2 {
  position: absolute;
  display: none;
  z-index: 1;
  margin-left: -20px;
  opacity: 1;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: -20px;
}

/*_____dropdown Menu_____*/
#dropdown {
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#dropdown li {
  margin-left: 0;
}

#dropdown li:hover {
  background-color: #333332;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
}

#dropdown.show {
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/*_____dropdown Menu under 1000px____*/
.menu2 {
  position: relative;
}

.dropdonwMenu2 {
  position: absolute;
  top: 100%;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3e4952), to(#21282e));
  background-image: linear-gradient(180deg, #3e4952, #21282e);
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.dropdonwMenu2 li {
  border-bottom: 1px solid #3f3e3e;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.dropdonwMenu2 li:hover {
  background-color: #333332;
  margin-left: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menu2 {
  display: none;
}

.menu2 .dropdonwMenu2 {
  opacity: 0;
}

.dropdonwMenu2.show2 {
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#bars {
  cursor: pointer;
}

/*_____Main Image/Text Content____*/
#text-content {
  line-height: 75px;
  font-size: 60pt;
}

.main-text {
  margin-left: -5%;
  font-size: 50px;
  font-weight: 800;
  line-height: 100%;
}

/*______Lastest Product_____*/
#lastest-product {
  background-image: url("../image/bg4.png");
  height: 500px;
}

.go-icon {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e75816), to(#a83906));
  background-image: linear-gradient(180deg, #e75816, #a83906);
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  bottom: 10%;
  padding: 9px 15px;
}

.left {
  right: 51%;
}

.go-icon:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c4146), to(#21282e));
  background-image: linear-gradient(180deg, #3c4146, #21282e);
}

/*______hover_________*/
.item1 {
  border: 1px solid #e0e0e0;
}

.item1:hover {
  border: 2px solid #e55a19;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.item1:hover .cart-icon {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: block;
}

.item1:hover .product-price {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: none;
}

/*_____product price_____*/
/*______add to cart Icon_________*/
.cart-icon {
  cursor: pointer;
  display: none;
  margin-top: 49px;
}

.cart-icon:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e75816), to(#a83906));
  background-image: linear-gradient(180deg, #e75816, #a83906);
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/*______below lastest products_____*/
.bg-2 {
  background-image: url("../image/bg2.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 4rem;
}

.bg-2 .looking {
  font-weight: 900;
  color: #e55a19;
}

.bg-2 .looking .check {
  color: #1056a9;
}

.bg-2 .looking .read-more {
  padding: 15px 30px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1273d3), to(#093e80));
  background-image: linear-gradient(180deg, #1273d3, #093e80);
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.bg-2 .looking .read-more:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f37d47), to(#a83906));
  background-image: linear-gradient(180deg, #f37d47, #a83906);
}

/*_____feature-product_______*/
.feature-product {
  color: white;
  margin-bottom: 50px;
}

.feature-product h5 {
  font-size: 20px;
}

.feature-product h5:first-child {
  margin-right: 15px;
}

.feature-product .dis {
  color: #e55a19;
}

.feature-product .search {
  margin-right: 20px;
}

.feature-product .btn-ok {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f37d47), to(#a83906));
  background-image: linear-gradient(180deg, #f37d47, #a83906);
  padding: 10px 10px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/*_____footer_______*/
.footer {
  background-image: url("../image/bg3.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.footer .question {
  margin-top: 10px;
  margin-left: 5px;
}

.nav-link-footer {
  color: #302f2f;
  line-height: 50%;
  margin-left: -15%;
}

.nav-link-footer:hover {
  color: #e55a19;
}

.img-icon {
  width: 60px;
  height: 50px;
}

.contact-form {
  background-color: #292727;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.contact-form:hover {
  background-color: #e55a19;
}

/*Responsive */
@media only screen and (max-width: 1000px) {
  .contact, .navigation, .drop-item {
    display: none;
  }
  .menu2 {
    display: block;
    z-index: 10;
  }
  #text-content {
    line-height: 50px;
    font-size: 30pt;
  }
  .main-text {
    margin-left: -27%;
  }
  .bg-2 .looking {
    font-size: 50px;
  }
  .bg-2 .looking .read-more {
    font-size: 18px;
  }
  .nav-link-footer {
    line-height: 100%;
    margin-left: -20%;
    font-size: 14px;
  }
}

@media only screen and (max-width: 786px) {
  .nav-link-footer {
    margin-left: -5%;
  }
  /*___currency__*/
}

@media only screen and (max-width: 578px) {
  .top-details-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .top-details-info .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .top-details-info .nav li {
    margin: 5px 20px;
  }
  #text-content {
    line-height: 24px;
    font-size: 15pt;
  }
  .main-text {
    font-size: 30px;
    margin-left: -30%;
  }
  .bg-2 .looking {
    font-size: 40px;
  }
  .bg-2 .looking .read-more {
    font-size: 15px;
  }
  .nav-link-footer {
    margin-left: -23px;
    line-height: 0px;
  }
  .big-img-icon {
    width: 40px;
    height: 40px;
  }
  .big-img-icon-text {
    font-size: 14px;
    margin-left: 10px;
  }
  .contact-form {
    font-size: 12px;
  }
  /*___currency__*/
  .currency-items {
    left: 45%;
  }
  /*____CartList_____*/
  .cart-list {
    width: 300px;
  }
}
/*# sourceMappingURL=style.css.map */