@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@400&display=swap');

/* SASS Template */
@import 'include/global.scss';
@import 'include/typography.scss';
@import 'include/variable.scss';


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
   
}

body{
    font-family:$font-oswald;
}

/*___Top___*/

.bg-image{
        background-image: url("../image/bg-body.png");
        background-size: cover;
        background-repeat: no-repeat;

}

.top-details li{
    margin-left:20px;
    a{
        color:white;
        font-weight: 580;
        text-decoration: none;
    }
    a:hover{
        color:$color-maroon;
        transition:0.3s;
    }
}



.search-box{
    outline: none;
    border: 1px solid rgb(121, 118, 118);
    width: 80%;
    background-color: transparent;
    color:white;
}

.border-grey{
    border:1px solid rgb(78, 78, 78);
}

.top-logo{
    height:40px;
}

.navigation{
    border-top: 1px solid rgb(97, 96, 96);
}
.navigation li{
        margin-top:10px;
        margin-right:10px;
      
}

.contact p {
    margin-top:11px;
}


/*_____dropdown Menu_____*/
#dropdown {
    opacity: 0;
    transition: 0.3s;
   
}

#dropdown li{
    margin-left: 0;
}

#dropdown li:hover{
    background-color: rgb(51, 51, 50);
    transition: 0.3s;
    width:100%;
}



#dropdown.show{
    opacity: 1;
    transition: 0.3s;
    
}


/*_____dropdown Menu under 1000px____*/
.menu2{
    position:relative;
    
}
.dropdonwMenu2{
    position:absolute;
    top:100%;
    left:0;
    background-image: linear-gradient(180deg, rgb(62, 73, 82), rgb(33, 40, 46));
    width:100%;
    transition:0.4s;
}

.dropdonwMenu2 li{
    border-bottom: 1px solid rgb(63, 62, 62);
    transition: 0.4s;
}

.dropdonwMenu2 li:hover{
    background-color:rgb(51, 51, 50);
    margin-left:0;
    transition: 0.4s;
   
}


.menu2{
    display:none;   
}

.menu2 .dropdonwMenu2{
    opacity: 0;
}

.dropdonwMenu2.show2{
   opacity: 1;
    transition:0.4s;
}


#bars{
    cursor: pointer;
}

/*_____Main Image/Text Content____*/
#text-content{
    line-height: 75px;
    font-size:60pt;
      
}

.main-text{
    margin-left: -5%;
    font-size: 50px;
    font-weight: 800;
    line-height: 100%;
}


/*______Lastest Product_____*/
#lastest-product{
    background-image: url("../image/bg4.png");
    height:500px;
}

.go-icon{
    background-image: linear-gradient(180deg, #e75816, #a83906);
    opacity: 1;
    transition: 0.2s;
    position:absolute;
    bottom:10%;
    padding:9px 15px;
}

.left{
    right:51%;
}


.go-icon:hover{
    background-image:linear-gradient(180deg, rgb(60, 65, 70), rgb(33, 40, 46));
    
}

/*______hover_________*/
.item1{
    border:1px solid rgb(224, 224, 224);
    
}

.item1:hover{
    border:2px solid $color-maroon;
    transition: 0.4s;
}

.item1:hover .cart-icon{
    transition: 0.4s;
    display: block;
    
}

.item1:hover .product-price{
    transition: 0.4s;
    display: none;
   
}

/*_____product price_____*/


/*______add to cart Icon_________*/
.cart-icon{
    cursor:pointer;
    display:none;
    margin-top:55px;
    
}

.cart-icon:hover{
    background-image: linear-gradient(180deg, #e75816, #a83906);
    color: white;
    transition: 0.4s;

}


/*______below lastest products_____*/
.bg-2{
    background-image: url("../image/bg2.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom:4rem;
    .looking{
        font-weight: 900;
        color: $color-maroon;
        .check{
            color: rgb(16, 86, 169);
        }
        .read-more{
            padding:15px 30px;
            background-image:linear-gradient(180deg, rgb(18, 115, 211), rgb(9, 62, 128));
            color: white;
            font-size: $font-larg;
            cursor: pointer;
        }
        .read-more:hover{
            background-image: linear-gradient(180deg, #f37d47, #a83906 );
        }
    }
}


/*_____feature-product_______*/
.feature-product {
    color: white;
    margin-bottom:50px;
    h5{
        font-size:20px;
    }
    h5:first-child{
       
       margin-right:15px;
    }
    .dis{
        color:$color-maroon;
    }
    .search{
        margin-right:20px;
    }
    .btn-ok{
        background-image: linear-gradient(180deg, #f37d47, #a83906 );
        padding: 10px 10px;
        border:none;
        font-size: $font-larg;
        cursor: pointer;
    }
}



/*Responsive */
@media only screen and ( max-width:1000px){
    .contact, .navigation, .drop-item{
        display:none;
    }

    .menu2{
        display: block;
        z-index: 10;
    }

    #text-content{
        line-height:50px;
        font-size:30pt;
        
    }

    .main-text{
        margin-left:-27%;
    }

    .bg-2 .looking{
        font-size:50px;
        .read-more{
            font-size: 18px;
        }
    }
   
}
    



@media only screen and ( max-width:578px){
    .top-details-info{
        display:flex;
        flex-direction: column;
        text-align: center;
    }

    .top-details-info .nav{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
       
    }

    .top-details-info .nav li{
        margin:5px 20px;
    }

    #text-content{
        line-height: 24px;
        font-size:15pt;
    }

    .main-text{
        font-size: 30px;
        margin-left:-30%;
    }
   
    .bg-2 .looking{
        font-size:40px;
        .read-more{
            font-size: 15px;
        }
    }
}