@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@400&display=swap');

/* SASS Template */
@import 'include/global.scss';
@import 'include/typography.scss';
@import 'include/variable.scss';


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
   
}

body{
    font-family:$font-oswald;
}

/*___Top___*/

.currency{
    color:white;
    cursor:pointer;
    font-weight:900;
}
.currency:hover {
    color: $color-maroon;
}

.currency-div{
    position: relative;
    z-index: 11;
    .currency-items{
        background-color: rgb(255, 255, 255);
        padding: 10px 30px;
        box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.514);
        margin-top: 14px;
        position: absolute;
        opacity: 0;
        transition: 0.3s;
    }
    .currency-items a{
        color:rgb(0, 0, 0);
        margin-left: -10px;
        font-size: $font-small;
    }
    
}
.triangle-up {
    opacity: 0;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 15px solid rgb(255, 255, 255);
    transition: 0.3s;
}
.triangle-up.show3{
    opacity: 1;
    transition: 0.3s;
}
.currency-items.show4{
    opacity: 1;
    transition: 0.3s;
}

.bg-image{
        background-image: url("../image/bg-body.png");
        background-size: cover;
        background-repeat: no-repeat;

}

.top-details li{
    margin-left:20px;
    a{
        color:white;
        font-weight: 580;
        text-decoration: none;
    }
    a:hover{
        color:$color-maroon;
        transition:0.3s;
    }
}



.search-box{
    outline: none;
    border: 1px solid rgb(121, 118, 118);
    width: 80%;
    background-color: transparent;
    color:white;
}

.border-grey{
    border:1px solid rgb(78, 78, 78);
}

.top-logo{
    height:40px;
}

.navigation{
    border-top: 1px solid rgb(97, 96, 96);
}
.navigation li{
        margin-top:10px;
        margin-right:10px;
      
}

.contact p {
    margin-top:11px;
}

/*____cart-add-items____*/
.parent-cart-icon{
    position: relative;
    .cart-list{
        background-color: rgb(255, 255, 255);
        position: absolute;
        z-index: 11;
        width: 500px;
        top: 60px;
        right: 0px;
        display: none;

        
        img{
            width: 60px;
        }
        .total-details p{
            font-size: 12px;
        }
        .total-details:nth-child(2) p{
            color: #e55a19;
        }
        .view-cart-btn, .Checkout-cart-btn{
            padding: 15px 20px;
            font-weight: 700;
            color: white;
        }
        .view-cart-btn{
            background-image: linear-gradient(rgb(13, 75, 158) 0%, rgb(23, 98, 177) 0%, rgb(13, 75, 158) 99%)
        }   
        .view-cart-btn:hover{
            background-image: linear-gradient(rgb(37, 95, 172) 0%, rgb(37, 116, 201) 0%,rgb(5, 40, 85) 99%);
            transition: 0.2s;
        }
        .Checkout-cart-btn{
            background-image: linear-gradient(180deg, #e75816, #a83906);
            text-decoration: none;
        }
        .Checkout-cart-btn:hover{
            background-image: linear-gradient(180deg, #c4480e, #702908);
            transition: 0.2s;
        }
    }
    
}   

.cart-list.show5{
    display: block;
    transition: 0.3s;
}
.triangle-up2.show5{
    display: block;
    transition: 0.3s;
}

.line-height{
    line-height: 0px;
}

.triangle-up2 {
    position: absolute;
    display: none;
    z-index: 1;
    margin-left: -20px;
    opacity: 1;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 30px solid rgb(255, 255, 255);
    transition: 0.3s;
    margin-bottom: -20px;
}

/*_____dropdown Menu_____*/
#dropdown {
    display: none;
    transition: 0.3s;
   
}

#dropdown li{
    margin-left: 0;
}

#dropdown li:hover{
    background-color: rgb(51, 51, 50);
    transition: 0.3s;
    width:100%;
}



#dropdown.show{
    display: block;
    transition: 0.3s;
    
}


/*_____dropdown Menu under 1000px____*/
.menu2{
    position:relative;
    
}
.dropdonwMenu2{
    position:absolute;
    top:100%;
    left:0;
    background-image: linear-gradient(180deg, rgb(62, 73, 82), rgb(33, 40, 46));
    width:100%;
    transition:0.4s;
}

.dropdonwMenu2 li{
    border-bottom: 1px solid rgb(63, 62, 62);
    transition: 0.4s;
}

.dropdonwMenu2 li:hover{
    background-color:rgb(51, 51, 50);
    margin-left:0;
    transition: 0.4s;
   
}


.menu2{
    display:none;   
}

.menu2 .dropdonwMenu2{
    opacity: 0;
}

.dropdonwMenu2.show2{
   opacity: 1;
    transition:0.4s;
}


#bars{
    cursor: pointer;
}

/*_____Main Image/Text Content____*/
#text-content{
    line-height: 75px;
    font-size:60pt;
      
}

.main-text{
    margin-left: -5%;
    font-size: 50px;
    font-weight: 800;
    line-height: 100%;
}


/*______Lastest Product_____*/
#lastest-product{
    background-image: url("../image/bg4.png");
    height:500px;
}

.go-icon{
    background-image: linear-gradient(180deg, #e75816, #a83906);
    opacity: 1;
    transition: 0.2s;
    position:absolute;
    bottom:10%;
    padding:9px 15px;
}

.left{
    right:51%;
}


.go-icon:hover{
    background-image:linear-gradient(180deg, rgb(60, 65, 70), rgb(33, 40, 46));
    
}

/*______hover_________*/
.item1{
    border:1px solid rgb(224, 224, 224);
    
}

.item1:hover{
    border:2px solid $color-maroon;
    transition: 0.4s;
}

.item1:hover .cart-icon{
    transition: 0.4s;
    display: block;
    
}

.item1:hover .product-price{
    transition: 0.4s;
    display: none;
   
}

/*_____product price_____*/


/*______add to cart Icon_________*/
.cart-icon{
    cursor:pointer;
    display:none;
    margin-top:49px;
    
}

.cart-icon:hover{
    background-image: linear-gradient(180deg, #e75816, #a83906);
    color: white;
    transition: 0.4s;

}


/*______below lastest products_____*/
.bg-2{
    background-image: url("../image/bg2.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom:4rem;
    .looking{
        font-weight: 900;
        color: $color-maroon;
        .check{
            color: rgb(16, 86, 169);
        }
        .read-more{
            padding:15px 30px;
            background-image:linear-gradient(180deg, rgb(18, 115, 211), rgb(9, 62, 128));
            color: white;
            font-size: $font-larg;
            cursor: pointer;
        }
        .read-more:hover{
            background-image: linear-gradient(180deg, #f37d47, #a83906 );
        }
    }
}


/*_____feature-product_______*/
.feature-product {
    color: white;
    margin-bottom:50px;
    h5{
        font-size:20px;
    }
    h5:first-child{
       
       margin-right:15px;
    }
    .dis{
        color:$color-maroon;
    }
    .search{
        margin-right:20px;
    }
    .btn-ok{
        background-image: linear-gradient(180deg, #f37d47, #a83906 );
        padding: 10px 10px;
        border:none;
        font-size: $font-larg;
        cursor: pointer;
    }
}



/*_____footer_______*/
.footer{
    background-image: url('../image/bg3.png');
    background-size: cover;
    background-repeat: no-repeat;
    // .top-row-contact{
    //     border: 1px solid rgb(209, 206, 206);
    // }
    .question{
        margin-top:10px; 
        margin-left:5px;
    }
}

.nav-link-footer{
    color: rgb(48, 47, 47);
    line-height:50%;
    margin-left:-15%;
}

.nav-link-footer:hover{
    color: #e55a19;
}

.img-icon{
    width:60px;
    height:50px;
    
}
.contact-form{
    background-color: rgb(41, 39, 39);
    transition:0.3s;
    cursor:pointer;
}
.contact-form:hover{
    background-color:#e55a19;
}

/*Responsive */
@media only screen and ( max-width:1000px){
    .contact, .navigation, .drop-item{
        display:none;
    }

    .menu2{
        display: block;
        z-index: 10;
    }

    #text-content{
        line-height:50px;
        font-size:30pt;
        
    }

    .main-text{
        margin-left:-27%;
    }

    .bg-2 .looking{
        font-size:50px;
        .read-more{
            font-size: 18px;
        }
    }
   
    .nav-link-footer{
        line-height: 100%;
        margin-left: -20%;
        font-size: 14px;
    }
}
    
@media only screen and ( max-width: 786px){
    .nav-link-footer{
        margin-left: -5%;
    }

    /*___currency__*/
    .currency-items{
        
    }
}


@media only screen and ( max-width:578px){
    .top-details-info{
        display:flex;
        flex-direction: column;
        text-align: center;
    }

    .top-details-info .nav{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
       
    }

    .top-details-info .nav li{
        margin:5px 20px;
    }

    #text-content{
        line-height: 24px;
        font-size:15pt;
    }

    .main-text{
        font-size: 30px;
        margin-left:-30%;
    }
   
    .bg-2 .looking{
        font-size:40px;
        .read-more{
            font-size: 15px;
        }
    }

    .nav-link-footer{
        margin-left: -23px;
        line-height: 0px;
    }
   
    .big-img-icon{
        width: 40px;
        height: 40px;
        
    }
    .big-img-icon-text{
        font-size: 14px;
        margin-left: 10px;
    }
    .contact-form{
        font-size: 12px;
    }

    /*___currency__*/
    .currency-items{
        left: 45%;
    }

    /*____CartList_____*/
    .cart-list{
        width: 300px;
    }
}