$font-oswald :'Oswald', sans-serif;
// $color-black :rgb(46, 54, 61);
$color-black :linear-gradient(180deg, rgb(60, 65, 70), rgb(33, 40, 46));

$color-mediumBlack : #3D0000;
$bg-maroon :linear-gradient(180deg, #e75816, #a83906);
$color-maroon : #e55a19;
$color-red : #FF0000;
$font-small : 12px;
$font-medium : 16px;
$font-larg : 18px;
$font-bold : 550;